body{
	background-color: whitesmoke;
}

td{
	padding:10px;
	color:white;
}
td a{
	color: white;
}

td a:hover{
	text-decoration: none;
}
td a:visited{
	color: white;
}

.col-centered{
	float: none;
	margin: 0 auto;
}

.pre_alp_test{
	background-color: #ED5B08;
}

.alp_test{
	background-color: #048A04;
}

.bra_test{
	background-color: #002060;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
 }